.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  /* box-shadow: var(--shadow-m); */
}

.wrapper ion-icon {
  position: relative;
  z-index: 3;
  width: 28px;
  height: 28px;
  padding: 4px;
  cursor: pointer;
  background-color: var(--tint-orange-30);
  border-radius: 6px;
  transition: all 0.3s;
}

.wrapper ion-icon:hover,
.wrapper ion-icon:active {
  background-color: var(--shade-orange-30);
}

.blurElement {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 2;
  width: 100%;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.75); */
  background: rgb(239 200 166 / 95%);
  transition: all 0.3s;
}

.showBlur {
  top: 0;
  right: 0;
}

.fadeEnterBlur {
  right: -100%;
  opacity: 0;
}

.fadeEnterActiveBlur {
  right: 0;
  /* right: 50%; */
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.fadeExitBlur {
  opacity: 1;
}

.fadeExitActiveBlur {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
