.detailCard {
  width: 100%;
  background-color: var(--tint-orange-60);
  padding: 16px 20px;
  border-radius: 8px;

  margin-top: 32px;

  box-shadow: var(--shadow-M);
}

.date {
  font-size: var(--heading-M);
}

.contentWrapper {
  margin-top: 8px;
  display: grid;
  /* gap: 16px; */
  grid-template-columns: repeat(4, 1fr);
  font-size: var(--text-big);

  /* background-color: antiquewhite; */
  background-color: var(--tint-orange-80);
  /* background-color: var(--tint-blue-80); */
  padding: 12px 0;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.contentWrapper span {
  font-weight: 600;
}

.contentWrapper h6 {
  font-size: var(--text-big);
  color: var(--shade-orange-50);
}

.contentWrapper img {
  width: 80px;
  height: 80px;
  align-self: center;

  /* background-color: var(--tint-blue-80); */
  /* background-color: var(--tint-blue-90); */
  background-color: #fff;

  border-radius: 100%;

  margin-bottom: auto;

  box-shadow: var(--shadow-S);
}

.content-col-withIcon {
  align-items: center;
  display: flex;
  gap: 4px;
}

.content-col {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 12px;
  padding: 16px;
  border-right: 2px solid var(--tint-orange-30);
}

.content-col:last-child {
  border: none;
}

.content-col ion-icon {
  height: 20px;
  width: 20px;
}

.border {
  position: absolute;
  border-right: 2px solid var(--tint-orange-30);
  height: 100%;
  right: 0;
  top: 0;
}

.hours {
  padding: 24px;
  background-color: var(--tint-orange-90);
  display: grid;
  gap: 12px;
  overflow-x: scroll;

  grid-template-columns: repeat(24, 150px);
}
