.timer-name {
  text-align: center;
  font-size: 24px;
}

.timer-wrapper {
  display: flex;
  justify-content: space-between;
}

.timer-time {
  cursor: pointer;
  text-align: center;
  font-size: 64px;
  transition: all 0.3s;
}

.timer-time:hover,
.timer-time:active {
  color: var(--shade-orange-10);
}

.timer-buttons {
  display: flex;
  gap: 10px;
}

.timer-buttons ion-icon {
  width: 48px;
  height: 48px;
}

.timer-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 580px) {
  .timer-time {
    font-size: 48px;
  }

  .timer-name {
    font-size: 18px;
  }
}
