.wrapper {
  max-width: 1400px;
  /* margin: 64px auto 32px; */
  margin: 0 auto 32px;
}

.timerForm {
  font-size: var(--text-big);
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* background-color: var(--tint-orange-20); */
  background-color: var(--orange-300);
  max-width: 500px;
  margin: auto;

  border-radius: 8px;

  box-shadow: var(--shadow-M);
}

.timerForm-heading {
  font-size: var(--heading-S);
}

.timerForm-list {
  list-style: none;
}

.timerForm-list li {
  display: flex;
  flex-direction: column;
}

.timerForm-list input {
  width: 200px;
}

.timerForm-list label {
  margin: 4px 0;
}

.timerForm-list input[type='number'] {
  width: 80px;
}

.timerForm-list input[type='text'] {
  margin-bottom: 20px;
}

.timerForm button {
  align-self: flex-end;
}

li.timerForm-list--time {
  flex-direction: row;
  margin-top: 20px;
  gap: 10px;
}

.timerForm-list--time > p {
  font-size: var(--text-huge);
  transform: translateY(5px);
}

.timerForm-list--time label {
  display: flex;
  justify-content: center;
}

.border {
  border-bottom: 3px solid var(--shade-orange-20);
  margin: 30px 0;
}

.modal {
  background-color: #00bfb3;
  /* color: #023436; */

  position: fixed;
  top: 30vh;
  width: 400px;
  left: 50%;
  z-index: 100;
  overflow: hidden;

  border-radius: 8px;

  transform: translate(-50%, -50%);
  z-index: 3;
}
