.btn,
.btn:link,
.btn:visited {
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  text-decoration: none;
  font-size: var(--heading-S);
}

.btn-circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  font-size: 32px; /* ??? */
}

.btn-capsule {
  padding: 12px 16px;
  /* padding: 16px 32px; */
  border-radius: 80px;
}

.btn-roundedSquare {
  padding: 8px;
  /* padding: 16px 32px; */
  border-radius: 8px;
}

.btn-logout {
  font-size: var(--text-huge);
  padding: 8px;
  border-radius: 12px;
  /* border-radius: 8px; */
}

.btn-color-logout {
  /* border: 2px var(--shade-blue-20) solid;
  background-color: var(--tint-blue-80); */
  /* border: 2px var(--shade-blue-20) solid; */
  background-color: var(--lime-green-200);
}

.btn-color-logout:hover,
.btn-color-logout:active {
  background-color: var(--lime-green-300);
  color: var(--lime-green-050);
}

.btn-color-orange {
  background-color: var(--tint-orange-80);
  color: var(--color-gray-first);
}

.btn-color-orange:hover,
.btn-color-orange:active {
  color: var(--tint-orange-90);
  background-color: var(--shade-orange-50);
}

.btn-color-orangeLight {
  background-color: var(--tint-orange-20);
  color: var(--color-gray-first);
}

.btn-color-orangeLight:hover,
.btn-color-orangeLight:active {
  color: var(--tint-orange-90);
  background-color: var(--shade-orange-30);
}

.btn-color-blue {
  color: var(--color-gray-first);
  background-color: var(--tint-blue-80);
}

.btn-color-blue:hover,
.btn-color-blue:active {
  color: var(--tint-blue-80);
  background-color: var(--shade-blue-50);
}

.btn-color-start {
  background-color: var(--color-orange-first);
}

.btn-color-start:hover,
.btn-color-start:active {
  background-color: var(--shade-orange-30);
  color: var(--tint-orange-90);
}

.btn-color-stop {
  background-color: #e09498;
}

.btn-color-stop:hover,
.btn-color-stop:active {
  background-color: #9d686a;
  color: aliceblue;
}

.btn-color-reset {
  background-color: var(--tint-blue-30);
}

.btn-color-reset:hover,
.btn-color-reset:active {
  background-color: var(--shade-blue-20);
  color: var(--tint-blue-80);
}

@media (max-width: 580px) {
  .btn-circle {
    height: 92px;
    width: 92px;
    font-size: 28px;
  }
}
