.detailWrapper {
  max-width: 1000px;
  margin: auto;
  padding: 128px 0 86px;
}

.city {
  font-size: var(--heading-L);
  text-align: center;
}

.headerWrapper {
  position: relative;
}

.headerWrapper button {
  position: absolute;
  font-size: var(--text-big);
  font-weight: 500;

  top: 50%;
  /* left: 20%; */
  transform: translateY(-50%);
}

.headerWrapper button ion-icon {
  vertical-align: middle;
}
