.timersWrapper {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding-top: 16px;
  margin: auto;
  /* gap: 32px; */
}

.timerToolbar {
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
  padding: 0 8px 8px;
  margin: auto;
  border-bottom: 1px solid var(--grey-200);
}

.timerAddBtn {
  font-size: var(--text-big);
}

.buttonsContainer {
  justify-content: center;
  margin-top: 12px;
}
