.form {
  max-width: 380px;
  margin: 86px auto;
  padding: 16px;
  border-radius: 8px;
  /* background-color: var(--orange-200); */
  border: 1px solid var(--lime-green-900);

  box-shadow: var(--shadow-M);
  display: flex;
  flex-direction: column;
}

.form button {
  margin-top: 16px;
  font-size: var(--text-huge);
  justify-self: center;
  margin-bottom: 16px;
}

.header {
  font-size: var(--heading-M);
  text-align: center;
  margin: 16px 0 32px;
}
