.container {
  position: absolute;
  top: 4px;
  right: 4px;
}

.container .tooltip {
  color: #222;
  background-color: var(--tint-orange-10);
  padding: 8px;
  z-index: 3;
  box-shadow: var(--shadow-S);

  /* transition: all 0.3s; */
  /* background-color: rgb(255, 153, 0); */
}

.triggerButton,
.triggerButton:link,
.triggerButton:visited {
  cursor: pointer;
  background-color: var(--tint-orange-80);
  display: inline-block;
  padding: 4px;
  height: 32px;
  width: 32px;

  border: none;
  border-radius: 100%;

  transition: all 0.3s;
}

.triggerButton:hover,
.triggerButton:active {
  background-color: #fff;
}

.triggerButton ion-icon {
  height: 100%;
  width: 100%;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tooltipButton,
.tooltipButton:link,
.tooltipButton:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  cursor: pointer;
  background-color: var(--tint-orange-70);
  color: var(--shade-orange-90);
  font-size: var(--text-medium);

  border: none;
  text-decoration: none;
  padding: 2px;
  transition: color 0.3s, background-color 0.3s;
}

.tooltipButton:hover,
.tooltipButton:active {
  color: var(--tint-orange-90);
  background-color: var(--shade-orange-50);
}

.tooltipButton ion-icon {
  transition: color 0.3s;
}

.tooltipButton:hover ion-icon,
.tooltipButton:active ion-icon {
  color: crimson;
}
