.wrapper {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-items: center;
  gap: 8px;
}

.subtitle {
  font-size: var(--heading-L);
  /* color: var(--color-orange-first); */
  color: var(--orange-400);
  font-weight: 800;
}

.subtitle span {
  color: var(--color-gray-first);
}

/* @media (max-width: 800px) {
  .subtitle {
    font-size: 32px;
  }
} */
