.wrapper {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-items: center;
  gap: 8px;
}

.subtitle {
  font-size: var(--heading-XXXL);
  color: var(--color-orange-first);
  font-weight: 800;
}

.subtitle span {
  font-size: var(--heading-XXXL);
  color: var(--color-gray-first);
  font-weight: 600;
}

/* @media (max-width: 800px) {
  .subtitle {
    font-size: 32px;
  }
} */
