.label {
  font-size: var(--text-big);
}

.input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 4px 0 16px;
  font-size: var(--text-big);
  border: none;
  border-radius: 4px;
}

.inputBlue {
  background-color: var(--tint-blue-80);
}

.inputOrange {
  background-color: var(--tint-orange-80);
}

.inputGreen {
  background-color: var(--lime-green-100);
  border: 1px solid var(--lime-green-900);
}

.inputError {
  background-color: var(--red-050);
  border: 1px solid var(--red-600);
}

.noMargin {
  margin: 0 !important ;
}
