.btnCloseSmall {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #e6f9f7;
  text-align: center;
}

.listElement {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 95%;
  padding: 30px 8px 4px;
  margin-bottom: 8px;
  font-size: var(--text-big);
  color: var(--grey-900);
  word-wrap: break-word;
  /* background-color: var(--orange-050); */
  background-color: #fff;

  /* border: 1px solid var(--orange-200); */
  border: 1px solid var(--grey-200);
  border-radius: 9px;
  box-shadow: var(--shadow-s);
  transition: background-color 0.3s;
  transition: box-shadow 0.3s;
}

.listElement:hover {
  background-color: var(--grey-050);
  box-shadow: var(--shadow-m);
}

.listElement li {
  min-width: 40%;
  line-height: 1.2;
}

.listElement ion-icon,
.checkBox {
  width: 20px;
  height: 20px;
}

.checkBox {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.done.checkBox {
  /* background-color: var(--color-orange-first); */
  background-color: var(--orange-400);
  border: none;
}

.done.checkBox ion-icon {
  opacity: 1;
}

.listElement ion-icon {
  color: #fff;
  opacity: 0;
}

.doneText {
  color: var(--tint-gray-50);
  text-decoration: line-through;
}

.fadeSmallEnter {
  width: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  opacity: 0;
}

.fadeSmallEnterActive {
  width: 95%;
  padding: 30px 8px 4px;
  margin-bottom: 8px;
  font-size: var(--text-big);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.fadeSmallExit {
  width: 95%;
  padding: 30px 8px 4px;
  margin-bottom: 8px;
  font-size: var(--text-big);
  opacity: 1;
}

.fadeSmallExitActive {
  width: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.fadeSmallEnter .checkBox {
  width: 0;
  height: 0;
  border: none;
}

.fadeSmallEnterActive .checkBox {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  transition: all 0.3s;
}

.fadeSmallExit .checkBox {
  width: 20px;
  height: 20px;
  border: 2px solid black;
}

.fadeSmallExitActive .checkBox {
  width: 0;
  height: 0;
  border: none;
  transition: all 0.3s;
}
