.btnClose-small {
  position: absolute;
  right: 4px;
  top: 4px;
  color: #e6f9f7;
  text-align: center;
}

.list-element {
  display: flex;
  flex-direction: row;
  gap: 4px;

  position: relative;
  width: 95%;
  word-wrap: break-word;
  background-color: var(--tint-orange-80);
  padding: 30px 8px 4px 8px;
  border-radius: 9px;
  margin-bottom: 8px;
  font-size: var(--text-big);
}

.list-element li {
  min-width: 40%;
}

.list-element ion-icon,
.checkBox {
  width: 20px;
  height: 20px;
}

.checkBox {
  /* background-color: var(--color-orange-first); */
  cursor: pointer;
  background-color: var(--tint-orange-90);
  border-radius: 4px;
  border: 2px solid black;
  transition: background-color 0.3s;
}

.done.checkBox {
  background-color: var(--color-orange-first);
  border: none;
}

.done.checkBox ion-icon {
  opacity: 1;
}

.list-element ion-icon {
  color: #fff;
  opacity: 0;
}

.doneText {
  text-decoration: line-through;
  color: var(--tint-gray-50);
}

.fade-small-enter {
  opacity: 0;
  padding: 0;
  width: 0;
  font-size: 0;
  margin: 0;
}

.fade-small-enter-active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  padding: 30px 8px 4px 8px;
  width: 95%;
  font-size: var(--text-big);
  margin-bottom: 8px;
}

.fade-small-exit {
  opacity: 1;
  padding: 30px 8px 4px 8px;
  width: 95%;
  font-size: var(--text-big);
  margin-bottom: 8px;
}

.fade-small-exit-active {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding: 0;
  width: 0;
  font-size: 0;
  margin: 0;
}

.fade-small-enter .checkBox {
  width: 0;
  height: 0;
  border: none;
}

.fade-small-enter-active .checkBox {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  transition: all 0.3s;
}

.fade-small-exit .checkBox {
  width: 20px;
  height: 20px;
  border: 2px solid black;
}

.fade-small-exit-active .checkBox {
  width: 0;
  height: 0;
  border: none;
  transition: all 0.3s;
}
