.timer {
  margin: 32px auto;
  max-width: 700px;
  background-color: var(--tint-orange-50);
  padding: 30px;
  position: relative;
  cursor: grab;
  border-radius: 8px;

  /* box-shadow: var(--shadow-S);  */
}

.timer-close--btn {
  position: absolute;
  left: 5px;
  top: 5px;
}

.timer-buttons {
  display: flex;
  gap: 10px;
}

.timer-buttons button {
  cursor: pointer;
  font-size: 32px;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 100%;
  transition: all 0.4s;
}

/* .timer--modal {
  background-color: #00bfb3;
  color: #023436;

  position: fixed;
  top: 30vh;
  left: 50%;
  z-index: 100;
  overflow: hidden;

  transform: translate(-50%, -50%);
  z-index: 3;
} */

/* .timer--modal {
  font-size: 28px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #3ab09e;
  max-width: 600px;
  margin: auto;

  border-radius: 8px;
} */
