.footer {
  position: sticky;
  top: 100%;
  width: 100%;
  /* border-top: 2px var(--tint-blue-50) solid; */
  border-top: 2px var(--lime-green-300) solid;
  padding: 128px 0;

  font-size: var(--text-medium);
  line-height: 1.6;
  /* color: #767676; */
  color: #666;

  /* background-color: var(--tint-orange-70); */
  /* background-color: var(--tint-blue-80); */
  background-color: var(--lime-green-050);
}

.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
  display: grid;
  column-gap: 64px;
  row-gap: 96px;
  grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
}

.footer h6 {
  font-size: var(--text-huge);
  font-weight: 500;
  margin-bottom: 36px;
  color: var(--color-gray-first);
}

.footer address {
  font-style: normal;
}

.footer a:link,
.footer a:visited {
  text-decoration: none;
  font-size: var(--text-medium);
  color: #666;
}

.footer a:hover,
.footer a:active {
  color: #333;
}

.address {
  margin-bottom: 24px;
}

.title {
  font-size: var(--text-huge);
  color: var(--color-orange-first);
  font-weight: 800;
  margin-bottom: 16px;
}

.title span {
  color: var(--color-gray-first);
  font-weight: 600;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.copyright {
  margin-top: auto;
  font-size: var(--text-small);
}

.icons {
  display: flex;
  gap: 16px;
}

.icons ion-icon {
  height: 24px;
  width: 24px;
  transition: all 0.3s;
}

.icons ion-icon:hover,
.icons ion-icon:active {
  color: #333;
}

.nav-col--links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}

.madeBy {
  font-size: var(--heading-S);
}

/* .nav-col--links-link a:hover,
.nav-col--links-link a:active {
  transition: all 0.3s;
  color: red;
} */

@media (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 48px;
    row-gap: 64px;
  }

  .logo-col {
    grid-column: 1 /4;
    grid-row: 2/3;
  }

  .contact-col {
    grid-column: 4 / -1;
    grid-row: 2/3;
  }

  .nav-col {
    grid-column: span 2;
    grid-row: 1;
  }
}
