.plans {
  max-width: 1500px;

  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 72px;

  gap: 32px;
}

.plansContainer {
  position: relative;
}

.message {
  /* position: absolute; */

  /* left: 50%; */
  /* transform: translate(-50%); */

  margin: auto;
  text-align: center;
  background-color: var(--tint-blue-30);
  color: var(--shade-blue-90);
  padding: 16px;
  font-size: var(--heading-XXXL);
  border-radius: 9px;
  width: 450px;
}

@media (max-width: 1600px) {
  .plans {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1400px) {
  .plans {
    max-width: 1000px;
    grid-template-columns: repeat(3, 1fr);
  }
  /* 
  .message {
    grid-column: 1 / -1;
  } */
}

@media (max-width: 1000px) {
  .plans {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }

  /* .message {
    grid-column: 1;
  } */
}

@media (max-width: 600px) {
  .plans {
    max-width: 300px;
    grid-template-columns: repeat(1, 1fr);
  }

  .message {
    width: 320px;
    font-size: var(--heading-XXL);
  }
}

.message-enter {
  opacity: 0;
}

.message-enter-active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.message-exit {
  opacity: 1;
}

.message-exit-active {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
