.plans {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
  justify-items: center;
  padding: 16px;
  background-color: #fff;
}

.withoutCards {
  height: 190px;
}

.contentWrapper {
  max-width: 1532px;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid var(--grey-200);
  border-radius: 18px;
}

.plansContainer {
  margin: auto;
}

.hideForm {
  display: none;
}

.message {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 450px;
  padding: 16px;
  font-size: var(--heading-l);
  color: var(--yellow-900);
  text-align: center;
  background-color: var(--yellow-200);
  border-radius: 9px;
  transform: translate(-50%);
}

@media (max-width: 1800px) {
  .contentWrapper {
    max-width: 1232px;
  }

  .plans {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1500px) {
  .contentWrapper {
    max-width: 1000px;
  }

  .plans {
    grid-template-columns: repeat(3, 1fr);
  }
  /* 
  .message {
    grid-column: 1 / -1;
  } */
}

@media (max-width: 1250px) {
  .contentWrapper {
    max-width: 632px;
  }

  .plans {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .message {
    grid-column: 1;
  } */
}

@media (max-width: 900px) {
  .contentWrapper {
    max-width: 300px;
  }

  .plans {
    grid-template-columns: repeat(1, 1fr);
  }

  .message {
    width: 240px;
  }
}

@media (max-width: 300px) {
  .contentWrapper {
    max-width: 262px;
  }

  .plans {
    grid-template-columns: repeat(1, 1fr);
  }

  .message {
    width: 230px;
  }
}

.messageEnter {
  opacity: 0;
}

.messageEnterActive {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.messageExit {
  opacity: 1;
}

.messageExitActive {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
