.messageEnter {
  opacity: 0;
}

.messageEnterActive {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.messageExit {
  opacity: 1;
}

.messageExitActive {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
