.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 200px;
  height: 100%;
  /* padding: 16px; */
  padding-top: 68px;
  overflow-x: hidden;
  font-size: var(--text-medium);
  background-color: #fff;
  box-shadow: var(--shadow-s);
  transition: 0.5s;
}

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  /* align-items: center; */
  /* gap: 12px; */
  list-style: none;
}

.sidenav ion-icon {
  min-width: 24px;
  min-height: 24px;
}

.sidenavHidden {
  width: 58px;
}

.hideBtn {
  position: absolute;
  top: 62px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  cursor: pointer;
  /* background-color: var(--orange-300); */
  background-color: inherit;
  border: none;
  border-radius: 4px;
  opacity: 0;
  transition: all 0.3s;
}

.hideBtn:hover,
.hideBtn:active {
  background-color: var(--orange-200);
}

.hideBtnOtherPosition {
  right: 50%;
  transform: translateX(50%);
}

.showHideBtn {
  opacity: 1;
}

.logo {
  font-weight: 600;
  color: var(--orange-400);
  text-align: center;
}

.logo span {
  color: var(--grey-900);
}

.btnText {
  max-width: 100px;
  transition: all 0.3s;
}

.hideBtnText {
  max-width: 0;
  opacity: 0;
}

.logoutBtn {
  /* display: block; */
  width: 100%;
  padding: 8px 16px;
  font-family: Roboto, sans-serif;
  font-size: var(--text-medium);
  font-weight: 500;
  color: var(--grey-700);
  cursor: pointer;
  background-color: inherit;
  border: none;
  transition: all 0.3s;
}

.logoutBtn:hover,
.logoutBtn:active {
  background-color: var(--orange-100);
}

.logoutBtn span {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logoutBtn span p {
  min-width: 100px;
  text-align: start;
}

.divider {
  width: 90%;
  height: 1px;
  margin: 8px auto;
  background-color: var(--grey-200);
}
