.hero {
  position: relative;
  display: flex;
  align-items: center;
  /* object-fit: cover; */
  /* aspect-ratio: 1/1; */
  /* height: 75vh; */
  height: 700px;
  /* background-image: linear-gradient(
      to right bottom,
      rgba(216, 118, 32, 0.7) 0%,
      rgba(236, 187, 144, 0.6) 100%
    ), */
  background-image: linear-gradient(
      to right top,
      rgb(22 12 3 / 70%) 0%,
      /* rgba(151, 82, 22, 0.7) 100% */ rgb(151 82 22 / 70%) 100%
    ),
    url('../../../assets/images/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

.contentContainer {
  width: 1300px;
  margin: auto;
}

.heroTextHeading {
  font-size: var(--heading-xxxl);
  font-weight: 800;
  line-height: 1.1;
  color: transparent;
  letter-spacing: -1px;
  background-image: linear-gradient(
    45deg,
    var(--orange-500),
    var(--orange-300)
  );
  background-clip: text;
}

.mainButton,
.mainButton:link,
.mainButton:visited {
  padding: 16px 32px;
  font-size: var(--text-huge);
  font-weight: 500;
  color: var(--color-gray-first);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--lime-green-300);
  border: none;
  border-radius: 80px;
  transition: all 0.3s;
}

.mainButton:hover,
.mainButton:active {
  color: var(--lime-green-050);
  background-color: var(--lime-green-600);
}

.secondaryButton,
.secondaryButton:link,
.secondaryButton:visited {
  padding: 16px 32px;
  font-size: var(--text-huge);
  font-weight: 500;
  color: var(--orange-900);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--orange-100);
  border: none;
  border-radius: 80px;
  transition: all 0.3s;
}

.secondaryButton:hover,
.secondaryButton:active {
  color: var(--orange-050);
  background-color: var(--orange-600);
}

.buttonsContainer {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

@media (max-width: 1200px) {
  .heroText {
    width: 350px;
    padding: 0 12px;
    margin: auto;
    text-align: center;
  }
  .buttonsContainer {
    flex-direction: column;
    max-width: 200px;
    margin: auto;
    /* gap: 16px; */
    margin-top: 32px;
  }
}

@media (max-width: 300px) {
  .heroText {
    width: 280px;
    padding: 0 12px;
    margin: auto;
    text-align: center;
  }
}
