/* .authForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 450px;
  padding: 24px;
  margin: 64px auto 0;
  margin-top: 86px;
  color: #222; */
/* background-color: var(--shade-blue-50); */
/* color: var(--tint-blue-50); */
/* background-color: var(--orange-200); */
/* background-color: var(--orange-200); */
/* border: 1px solid var(--lime-green-900);
  border-radius: 8px;
  box-shadow: var(--shadow-m);
} */

/* .authForm h4 {
  margin: 16px auto 32px;
  font-size: 32px;
} */

/* .inputsWrapper {
  width: 98%;
  margin: auto;
} */

/* .otherOptions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: var(--text-big);
} */

/* .forgotPassword,
.forgotPassword:link,
.forgotPassword:visited {
  font-weight: 600;
  color: var(--grey-700);
  text-decoration: none;
  transition: all 0.3s;
} */

/* .forgotPassword:hover,
.forgotPassword:active { */
/* color: var(--lime-green-050); */
/* color: var(--lime-green-500);
} */

/* .rememberMe {
  display: flex;
  gap: 4px;
}

.rememberMe input {
  padding: 4px;
} */

/* .authFormButtons { */
/* align-self: flex-end; */
/* display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
  margin-top: 12px;
} */

.authFormLink,
.authFormLink:link,
.authFormLink:active {
  margin: 8px;
  font-size: var(--text-huge);
  color: var(--grey-900);
  text-decoration: none;
  transition: all 0.3s;
}

.authFormLink:hover,
.authFormLink:active {
  /* color: var(--lime-green-100); */
  color: var(--lime-green-500);
}

.authFormSubmit {
  width: 100%;
  font-weight: 700;
  /* background-color: var(--color-blue-first); */
  color: var(--shade-blue-90);

  /* background-color: var(--lime-green-200); */
  background-color: var(--orange-200);
  border-radius: 4px;
}

.authFormSubmit:hover,
.authFormSubmit:active {
  /* background-color: var(--tint-blue-50); */
  /* background-color: var(--lime-green-400); */
  color: var(--orange-050);
  background-color: var(--orange-400);
}

.alreadyLoggedInContainer {
  text-align: center;
}

.alreadyLoggedIn {
  margin: 64px auto;
  font-size: 52px;
  color: #e09498;
}

.returnToHomePage,
.returnToHomePage:link,
.returnToHomePage:visited {
  padding: 8px 16px;
  font-size: var(--heading-s);
  color: var(--color-gray-first);
  text-decoration: none;
  background-color: var(--tint-orange-50);
  border-radius: 80px;
  transition: all 0.3s;
}

.returnToHomePage:hover,
.returnToHomePage:active {
  color: var(--tint-orange-90);
  background-color: var(--shade-orange-50);
}
