.authForm {
  /* background-color: var(--shade-blue-50); */
  /* color: var(--tint-blue-50); */
  /* background-color: var(--orange-200); */
  /* background-color: var(--orange-200); */
  border: 1px solid var(--lime-green-900);
  color: #222;

  box-shadow: var(--shadow-M);

  max-width: 450px;
  margin-top: 86px;
  display: flex;
  border-radius: 8px;

  flex-direction: column;
  align-items: flex-start;

  margin: 64px auto 0 auto;
  padding: 24px;
}

.authForm h4 {
  font-size: 32px;
  margin: 16px auto 32px;
}

.inputsWrapper {
  width: 98%;
  margin: auto;
}

.otherOptions {
  font-size: var(--text-big);
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
}

.forgotPassword,
.forgotPassword:link,
.forgotPassword:visited {
  font-weight: 600;
  color: var(--grey-700);

  text-decoration: none;
  transition: all 0.3s;
}

.forgotPassword:hover,
.forgotPassword:active {
  /* color: var(--lime-green-050); */
  color: var(--lime-green-500);
}

.rememberMe {
  display: flex;
  gap: 4px;
}

.rememberMe input {
  padding: 4px;
}

.auth-form--buttons {
  /* align-self: flex-end; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  margin-top: 12px;
  gap: 12px;
}

.auth-form--link,
.auth-form--link:link,
.auth-form--link:active {
  font-size: var(--text-huge);
  text-decoration: none;
  margin: 8px;
  color: var(--grey-900);

  transition: all 0.3s;
}

.auth-form--link:hover,
.auth-form--link:active {
  /* color: var(--lime-green-100); */
  color: var(--lime-green-500);
}

.auth-form-submit {
  font-weight: 700;
  border-radius: 4px;
  /* background-color: var(--color-blue-first); */
  color: var(--shade-blue-90);

  /* background-color: var(--lime-green-200); */
  background-color: var(--orange-200);

  width: 100%;
}

.auth-form-submit:hover,
.auth-form-submit:active {
  /* background-color: var(--tint-blue-50); */
  /* background-color: var(--lime-green-400); */
  color: var(--orange-050);
  background-color: var(--orange-400);
}

.alreadyLoggedIn-container {
  text-align: center;
}

.alreadyLoggedIn {
  font-size: 52px;
  color: #e09498;
  margin: 64px auto;
}

.returnToHomePage,
.returnToHomePage:link,
.returnToHomePage:visited {
  font-size: var(--heading-S);
  background-color: var(--tint-orange-50);
  color: var(--color-gray-first);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 80px;
  transition: all 0.3s;
}

.returnToHomePage:hover,
.returnToHomePage:active {
  background-color: var(--shade-orange-50);
  color: var(--tint-orange-90);
}
