.btnClose-small {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 8px;
  top: 8px;
  background-color: #023436;
  color: #e6f9f7;
  text-align: center;

  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
}

.btnClose-small:hover,
.btnClose-small:active {
  cursor: pointer;
  background-color: #e6f9f7;
  color: #023436;
  transition: all 0.2s;
}
.list-element {
  position: relative;
  width: 90%;
  background-color: #00bfb3;
  padding: 30px 8px 4px 8px;
  border-radius: 9px;
  margin-bottom: 8px;
}

/* .happened {
  background-color: #b3ece8;
}

.happened li {
  color: black;
} */

.fade-small-enter {
  opacity: 0;
  padding: 0;
  width: 0;
  font-size: 0;
  margin: 0;
}

.fade-small-enter-active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  padding: 30px 8px 4px 8px;
  width: 90%;
  font-size: 24px;
  margin-bottom: 8px;
}

.fade-small-exit {
  opacity: 1;
  padding: 30px 8px 4px 8px;
  width: 90%;
  font-size: 24px;
  margin-bottom: 8px;
}

.fade-small-exit-active {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding: 0;
  width: 0;
  font-size: 0;
  margin: 0;
}
