.card {
  transition: all 0.5s;
  position: relative;
  /* background-color: #b3ece8; */
  background: linear-gradient(
    135deg,
    rgba(179, 236, 232, 1) 0%,
    rgba(161, 212, 209, 1) 100%
  );
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  display: block;
  width: 450px;
  /* margin: 0 100px; */
  padding: 24px;
  border-radius: 9px;

  color: #023436;
  font-size: 24px;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 30%);
}

.card-black {
  /* background-color: #355d5e; */
  background: linear-gradient(
    135deg,
    rgba(53, 93, 94, 1) 0%,
    rgba(93, 125, 126, 1) 100%
  );
}

.card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  font-weight: 500;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
}

.date h3 {
  font-size: 64px;
  font-weight: 800;
}

.date h4 {
  font-size: 40px;
}

.btnClose {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 8px;
  top: 8px;
  background-color: #00bfb3;
  text-align: center;

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
}

.btnClose:hover,
.btnClose:active {
  cursor: pointer;
  background-color: #023436;
  color: #e6f9f7;
  transition: all 0.2s;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.withinSevenDays {
  color: #029188;
}

@media (max-width: 500px) {
  .card {
    width: 320px;
  }

  .date h3 {
    font-size: 48px;
  }

  .date h4 {
    font-size: 32px;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
