.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  padding: 20px;
  margin: 0 auto;
  font-size: 72px;
  color: aliceblue;
  background-color: var(--tint-orange-50);
  border-radius: 20px;
}
