@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  /* background-color: #023436; */
  background: linear-gradient(
    90deg,
    rgba(2, 52, 54, 1) 0%,
    rgba(53, 93, 94, 1) 100%
  );
  /* 023436 */
}
