.timerNavigation {
  max-width: 350px;
  margin: 0 auto 64px;
}

.timerNavigation-list {
  display: flex;
  justify-content: space-between;
}

.timerNavigation-list--element,
.timerNavigation-list--element a,
.timerNavigation-list--element a:link,
.timerNavigation-list--element a:visited {
  text-decoration: none;
  color: var(--shade-orange-90);
  list-style: none;
  font-size: 28px;
  transition: all 0.3s;
  position: relative;
}

.timerNavigation-list--element a:hover,
.timerNavigation-list--element a:active {
  color: var(--tint-blue-50);
}

.active::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  top: 50px;
  background-color: var(--shade-orange-20);
}
