.weatherCard {
  background-color: var(--tint-orange-60);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 225px;

  position: relative;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;

  box-shadow: var(--shadow-M);
}

.info {
  display: flex;
  flex-direction: column;
}

.name,
.name:link,
.name:visited {
  font-size: var(--heading-S);
  font-weight: 600;
  text-decoration: none;
  color: var(--shade-orange-90);
  transition: all 0.3s;

  /* background-color: var(--tint-orange-20); */
  /* padding: 2px;
  border-radius: 4px; */

  margin-right: auto;
}

.name:hover,
.name:active {
  color: var(--color-orange-first);
}

.otherInfo {
  margin-top: 8px;
  display: flex;
  gap: 16px;
}

.humidity {
  display: flex;
  align-items: center;
  gap: 4px;
}

.humidity ion-icon {
  color: var(--color-blue-first);
  height: 24px;
  width: 24px;
}

.wind {
  display: flex;
  align-items: center;
  gap: 4px;
}

.wind ion-icon {
  color: var(--shade-orange-20);
  height: 24px;
  width: 24px;
}

.temp {
  font-size: var(--heading-XL);

  margin-top: auto;

  font-weight: 800;

  grid-row: 2;
}

.iconWrapper {
  display: flex;
  flex-direction: column;

  grid-row: 1/3;
}

.iconWrapper img {
  width: 72px;
  height: 72px;
  align-self: center;

  background-color: #fff;

  border-radius: 100%;

  margin-bottom: auto;

  box-shadow: var(--shadow-S);
}

.currentCondition {
  align-self: center;
  font-size: var(--text-big);
  font-weight: 500;
}

.favorite {
  position: absolute;
  color: crimson;
  top: 40px;
  right: 4px;
}

.favorite ion-icon {
  height: 32px;
  width: 32px;
}
