.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 270px;
  padding: 16px;
  /* color: var(--orange-800); */
  font-size: var(--text-big);

  /* color: var(--shade-orange-80); */
  color: var(--grey-900);
  /* background-color: var(--tint-orange-50); */
  /* background-color: var(--orange-100); */
  background-color: var(--orange-100);
  border-radius: 9px;
  /* box-shadow: var(--shadow-M); */
  box-shadow: var(--shadow-s);
  transition: all 0.5s;
}

.cardBlack {
  /* background-color: var(--shade-orange-50); */
  /* background-color: var(--orange-300); */
  background-color: var(--grey-warm-300);
}

.cardBlack h3,
.cardBlack h4 {
  /* color: var(--tint-orange-90); */
}

.cardBlack .btnClose {
  /* background-color: var(--shade-orange-10); */
}

/* .cardBlack .btnClose:hover,
.cardBlack .btnClose :active {
} */

.card ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* gap: 8px; */
  font-weight: 500;
  list-style: none;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
}

.date h3 {
  /* font-size: 54px; */
  font-size: var(--heading-l);
  font-weight: 800;
}

.date h4 {
  /* font-size: 40px; */
  font-size: var(--heading-s);
  font-weight: 600;
}

.btnClose {
  position: absolute;
  top: 4px;
  right: 4px;
}

.btnClose:hover,
.btnClose:active {
  color: var(--shade-orange-50);
  cursor: pointer;
  background-color: var(--tint-orange-90);
  transition: all 0.3s;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.withinThreeDays {
  background-color: var(--orange-200);
}

.withinThreeDays h3 {
  color: var(--orange-900);
}

.today {
  background-color: var(--orange-300);
}

.isBig {
  grid-row: span 2;
}

.isVeryBig {
  grid-row: span 3;
}

@media (max-width: 300px) {
  .card {
    width: 230px;
  }
}

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.weatherIcon {
  position: absolute;
  top: -12px;
  left: -12px;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: var(--shadow-s);
}
