.card {
  transition: all 0.5s;
  position: relative;
  /* background-color: var(--tint-orange-50); */
  background-color: var(--orange-100);
  box-shadow: var(--shadow-S);
  display: block;
  width: 270px;
  padding: 16px;
  border-radius: 9px;

  /* color: var(--shade-orange-80); */
  color: var(--grey-900);
  /* color: var(--orange-800); */
  font-size: var(--text-big);
}

.card-black {
  /* background-color: var(--shade-orange-50); */
  /* background-color: var(--orange-300); */
  background-color: var(--grey-warm-300);
}

.card-black h3,
.card-black h4 {
  /* color: var(--tint-orange-90); */
}

.card-black .btnClose {
  /* background-color: var(--shade-orange-10); */
}

/* .card-black .btnClose:hover,
.card-black .btnClose :active {
} */

.card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  font-weight: 500;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
}

.date h3 {
  /* font-size: 54px; */
  font-size: var(--heading-L);
  font-weight: 800;
}

.date h4 {
  /* font-size: 40px; */
  font-size: var(--heading-S);
}

.btnClose {
  position: absolute;
  right: 4px;
  top: 4px;
}

.btnClose:hover,
.btnClose:active {
  cursor: pointer;
  background-color: var(--tint-orange-90);
  color: var(--shade-orange-50);
  transition: all 0.3s;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.withinThreeDays {
  /* color: #029188; */
  /* color: var(--shade-blue-20); */
  /* color: var(--orange-800); */
  /* text-decoration: underline; */
  /* background-color: var(--lime-green-100); */

  /* background-image: linear-gradient(
      -45deg,
      transparent 75%,
      hsla(22, 92%, 76%, 0.4) 75%
    ),
    linear-gradient(45deg, transparent 75%, hsl(22, 92%, 76%, 0.4) 75%),
    linear-gradient(-135deg, transparent 75%, hsl(22, 92%, 76%, 0.4) 75%),
    linear-gradient(135deg, transparent 75%, hsl(22, 92%, 76%, 0.4) 75%);
  background-size: 45px 45px;
  background-position: 22.5px 0, 22.5px 0, 0 0, 0 0; */

  background-color: var(--orange-300);
}

.withinThreeDays h3 {
  color: var(--orange-900);
}

.isBig {
  grid-row: span 2;
}

.isVeryBig {
  grid-row: span 3;
}

@media (max-width: 300px) {
  .card {
    width: 230px;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.weatherIcon {
  position: absolute;
  height: 48px;
  width: 48px;
  left: -12px;
  top: -12px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: var(--shadow-S);
}
