.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
