.features {
  text-align: center;
  display: grid;
  gap: 48px 32px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-content: center;
  max-width: 1100px;
  margin: auto;
}
.features ion-icon {
  color: #fff;
  width: 36px;
  height: 36px;
  /* background-color: var(--color-blue-first); */
  background-color: #fff;
  color: var(--lime-green-400);
  padding: 8px;
  border-radius: 100%;
}

@media (max-width: 1100px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
  }
}
