.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  /* box-shadow: var(--shadow-M); */
}

.wrapper ion-icon {
  cursor: pointer;
  position: relative;
  height: 28px;
  width: 28px;
  background-color: var(--tint-orange-30);
  border-radius: 6px;
  padding: 4px;
  transition: all 0.3s;
  z-index: 3;
}

.wrapper ion-icon:hover,
.wrapper ion-icon:active {
  background-color: var(--shade-orange-30);
}

.blur {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  z-index: 2;
  /* background: rgba(0, 0, 0, 0.75); */
  background: rgba(239, 200, 166, 0.95);
  transition: all 0.3s;
}

.showBlur {
  top: 0;
  right: 0;
}

.fade-enter-blur {
  opacity: 0;
  right: -100%;
}

.fade-enter-active-blur {
  /* right: 50%; */
  opacity: 1;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.fade-exit-blur {
  opacity: 1;
}

.fade-exit-active-blur {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
