.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.navListItem {
  position: relative;
}

/* //////////////////// */
/*      REFACTOR!!      */
/* //////////////////// */

/* .navListItem .navItem-auth.navItem-auth--button {
  background-color: var(--color-blue-first);
  color: var(--color-gray-first);
  border-radius: 12px;
}

.navListItem .navItem-auth.navItem-auth--button:hover,
.navListItem .navItem-auth.navItem-auth--button:active {
  color: #fff;
  background-color: var(--shade-blue-20);
}

.navListItem button,
.navListItem a,
.navListItem a:link,
.navListItem a:visited {
  padding: 8px;
  background-color: var(--tint-orange-20);
  color: var(--color-gray-first);
  font-weight: 500;
  font-size: var(--heading-L);
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s;
}

.navListItem a:hover,
.navListItem a:active,
.navList a.active:hover,
.navList a.active:active {
  background-color: var(--shade-orange-30);
  color: #fff;
}

.navItem-auth--button {
  cursor: pointer;
  padding: 8px;
  background-color: var(--color-blue-first);
  color: var(--color-gray-first);
  font-weight: 500;
  font-size: var(--heading-L);
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s;
  border: none;
}
*/

/* .logout {
  background-color: #fff;
  border: 2px red solid;
} */

.navListItem {
  position: relative;
}

.wrapper ion-icon {
  height: 32px;
  width: 32px;
  background-color: var(--tint-orange-30);
  border-radius: 6px;
  padding: 8px;
  transition: all 0.3s;
}

.wrapper ion-icon:hover,
.wrapper ion-icon:active {
  background-color: var(--shade-orange-30);
}
